@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

::-webkit-scrollbar{
	width: 2px;
	background: black;
}
::-webkit-scrollbar-thumb{
	background: white;
}
::-webkit-scrollbar:hover{
	width: 11px;
}

*{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	padding:0;
	font-family: 'Anton', sans-serif;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
a{
	text-transform: uppercase;
	text-decoration: none;
}
.container{
	width: 1170px;
	margin: 0 auto; 
}
.mgh{
	height: 780px;
}
.box{
	width: 100px;
	height: 100px;
	background: red;
	margin-top: 30px;
}
.header{
	background: url('../hmedia/play.png') no-repeat center / cover;

}
header a{
	color: #fff;
	transition: 0.5s;
}
header a:hover{
	color: #fff;
	transition: 0.5s;
	color: cyan;
}
.logo{
	margin-right: 69px;
	filter: invert(100%);
	border: 2px solid white;
	border-style: groove;
	padding: 5px;
	transition: 159s;
}
.logo:hover{
	transform: rotate(2880deg);
	filter: invert(100%);
	transition: 1s;
}
.menu{
	display: flex;
}
.menu li a{
	letter-spacing: 0.1em;
}
.menu li{
	margin-right: 40px;
}
.tel{
	font-size: 17px;
	text-decoration: none;
	letter-spacing: 0.1em;
	margin-left: auto;
	padding: 3px;
	border: 2px solid white;
	border-style: groove;
	transition: 0.5s;
}
.tel:hover{
	transition: 0.5s;
	border-color: cyan;
	color: cyan;
}
.nav{
	display: flex;
	align-items: center;
	padding-top: 50px;
}
.hdtxt-reg{
	margin-bottom: 200px;
}
.headtxt{
	margin-top: 216px;
}
.headtxt p{
	text-transform: uppercase;
	font-size: 30px;
	letter-spacing: 0.1em;
	transition: 0.5s;
}
.headtxt p:hover{
	transition: 0.5s;
	color: cyan;
	cursor: pointer;
}
.headtxt h1{
	font-size: 100px;
	transition: 0.5s;
}
.headtxt h1:hover{
	transition: 0.5s;
	color: cyan;
	cursor: pointer;
}
.headtxt a{
	margin-top: 37px;
	font-size: 17px;
	letter-spacing: 0.1em;
}
.hdnz{
	display: flex;
	justify-content: center;
	transition: 0.5s;
}
.hdnz h6:hover{
	transition: 0.5s;
	color: red;
	cursor: none;
}
h6{
	font-size: 3em;
}
h2{
	margin-top: 125px;
}
.mezh{
	padding-top: 113px;
	color: #000;
}
.mezhtxt{
	margin-top: 74px;
	display: flex;
	justify-content: space-between;
	color: #000;
}
.mezhtxt p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}
.mezhtxt-right, .mezhtxt-left{
	width: 565px;
}
h3, h2{
	color: #000;
	transition: 0.5s;
}
h3:hover, h2:hover{
	transition: 0.5s;
	cursor: pointer;
	color: green;
}
.mezhmedia{
	margin-top: 85px;
	display: flex;
	justify-content: space-around;
}
.mezhmedia img{
	height: 189px;
	width: 336px;
	filter: blur(0.9px);
	transition: 0.5s;
	filter:drop-shadow(3px 3px darkred);
}
.mezhmedia img:hover{
	filter: blur(0px) drop-shadow(3px 3px darkred);
	transition: 0.5s;
	cursor: pointer;
}
.opgrid{
	margin: 130px 0 30px 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 2.5em;
	text-align: center;
}
.opgrid video{
	height: 270px;
	width: 480px;
}
.opv1{
	filter:drop-shadow(3px 3px darkred);
}
.opv2{
	filter:drop-shadow(-3px 3px darkred);
}
.opv3{
	filter:drop-shadow(3px -3px darkred);
}
.opv4{
	filter:drop-shadow(-3px -3px darkred);
}
.optxt{
	color: #000;
	text-align: justify;
	text-indent: 1.5em;
	margin: 60px;
}


.niztxt{
	margin: 110px 0 30px 0;
	color: #000;
	display: flex;
}
.niz p{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	margin-right: 67px;
}
